{% load staticfiles %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:" en-us" }}">
<head>


        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>{% block title %}Parade Web{% endblock %}</title>

        <script src="{% static 'js/jquery.min.js' %}"></script>

        <script src="{% static 'js/bootstrap.min.js' %}"></script>

 <link rel="icon favicon" href="{% static '../../image/logo.png' %}">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'css/google_font.css' %}" >
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" >
    <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}" >
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu-style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/slider-style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom_card_slider.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" >
    <link rel="stylesheet" href="{% static 'css/test.css' %}">
{#    <link rel="stylesheet" href="{% static 'ioncache-Tag-Handler-ff3e1e0/css/jquery.taghandler.css' %}">#}


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css">


 

    <!-- Scripts -->
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
    <script type="text/javascript" src="{% static 'plugins/jquery-loading-overlay-2.0.1/dist/loadingoverlay.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>


    {% block extrahead %}
    {% endblock %}

</head>
<body>


{% block header %}
{#    {% include 'base/header.html' %}#}
{% endblock %}
<div class="wrapper">
    <div class="row-offcanvas row-offcanvas-left">

        <div class="full">
            {% block content %}

            {% endblock %}


            <!-- -------------------------footer---------------------- -->


            <hr>
            <div style="padding: 10px 0px">

                <div class="footer">
                    <p class="text-center">{{ _("Copyright &copy; CodeNext Inc. 2017") }}</p>
                </div>


            </div>

        </div>


        <!--</div>-->
    </div>
</div>

</body>
</html>

