
  <figure id="single_content_div_{{ td.post_id }}">
   <a href=" {% url 'single_post' post_id=td.post_id %} ">
       {% if td.post_card_type == 'video' %}

           <video width="100%" height="250" controls>
               <source src="{{ td.post_card }}" type="video/mp4">
               <source src="{{ td.post_card }}" type="video/ogg">
           </video>

       {% else %}
           <img src="{{ td.post_card }}" class="img-responsive">
       {% endif %}



      <figcaption>{{ td.post_title }}</figcaption>
   </a>

      <div class="favourite">

        <div class="favourite-icon">
            {% if td.is_favorite == 1 %}
                <i class="fas fa-heart" id="fav_{{ td.post_id }}"
                   onclick="return Ajax_favorite({{ td.post_id }},0);"></i>
            {% else %}
                <i class="far fa-heart" id="unFav_{{ td.post_id }}"
                   onclick="return Ajax_favorite({{ td.post_id }},1);"></i>
            {% endif %}
        </div>

        <div class="favourite-text">
          <p><span id="total_fav_{{ td.post_id }}">{{ td.total_favorite}}</span> Favorite
          <span id="total_comment_{{ td.post_id }}"> {{ td.total_comment}}</span> Comments</p>
        </div>
      </div>
    </figure>





