
{% extends "base.html" %}

{% load static %}

{#{% block title %}Parade Web{% endblock title %}#}
{% block header %}
{% include 'base/header.html' %}
{% endblock %}
{% block content %}

    <p style="padding-top: 70px"></p>

  <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4 panel-login">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Confirmation</h3>
            </div>
            <div class="panel-body">
              <p style="color:green;text-align: center;">
                  {{ message }}
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>



{% endblock content %}
