
{% load static %}

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{##}
{#<!-- Navigation -->#}
{#<nav class="navbar navbar-default navbar-fixed-top">#}
{#    <div class="container">#}
{#        <!-- Brand and toggle get grouped for better mobile display -->#}
{#        <div class="navbar-header">#}
{#            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">#}
{#                <span class="sr-only">Toggle navigation</span>#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#            </button>#}
{#            <a class="navbar-brand" href="/base/home">Parade</a>#}
{#        </div>#}
{##}
{#        <!-- Collect the nav links, forms, and other content for toggling -->#}
{#        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">#}
{#            <form class="navbar-form navbar-left">#}
{#                <div class="input-group input-group-lg title-label">#}
{#                <input type="" name="" placeholder="&#xf002;  Search.... ">#}
{#            </div>#}
{#            </form>#}
{#            <form class="navbar-form navbar-right">#}
{#                    <button type="submit" class="btn btn-login-user"><i class="far fa-user"></i></button>#}
{#            </form>#}
{#            {% if not request.session.session_id %}#}
{#             <a style="margin-top: 10px;margin-left: 5px" class=" navbar-right btn button" href="{% url 'login' %}">Login</a>#}
{#            <a style="margin-top: 10px" class="navbar-right btn button" href="{% url 'registration' %}">Registration</a>#}
{#{% endif %}#}
{#       {% if  request.session.session_id %}#}
{##}
{##}
{#<ul class="nav navbar-nav navbar-right">#}
{#<li><a href="{% url 'card' %}"><img src="{% static 'plus.png' %}" class="add-card-img"></a></li>#}
{#<li class="dropdown">#}
{#    <a type="button" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">#}
{##}
{#        <img src="{{ request.session.user_img }}" class="add-card-img" style="border-radius: 50%">#}
{##}
{#    </a>#}
{#    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">#}
{#        <li style="text-align: center"><a href="{% url 'logout' %}">Logout</a></li>#}
{##}
{#    </ul>#}
{#</li>#}
{#</ul>#}
{##}
{##}
{#{% endif %}#}
{##}
{#        </div><!-- /.navbar-collapse -->#}
{#    </div><!-- /.container-fluid -->#}
{#</nav>#}





<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/base/home">Parade</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="input-group input-group-lg search-label">
                <input type="" name="" placeholder="&#xf002;  Search.... ">
            </div>
            </form>
            <form class="navbar-form navbar-right">
                {% if request.session.user_id %}
                <span class="notification">
                    <a href="{% url 'card' %}" class="btn-log-user" type="button" >＋投稿する</a>
{#                    <ul class="dropdown-menu">#}
{#                      <li><a href="{% url 'card' %}">Add Card</a></li>#}
{#                      <li><a href="{% url 'logout_user' %}">Logout</a></li>#}
{#                  </ul>#}
                </span>
              <span class="notification">
{#                    <a href="" class="btn-log-user" type="button" data-toggle="dropdown">＋投稿する</a>#}
                     <a data-toggle="dropdown" class="btn btn-login-user">
                    <img style="border-radius: 50%" src="{{ request.session.user_img }}">
                    </a>
                    <ul class="dropdown-menu">
                      <li><a  href="{% url 'profile' user_id=request.session.user_id %}">Profile</a></li>
                      <li><a href="{% url 'logout_user' %}">Logout</a></li>
                  </ul>
                </span>



                    {% else %}
                   <a href="{% url 'login' %}" class="btn-log-user"> Login</a>
                   <a href="{% url 'registration' %}" class="btn-log-user"> Registration</a>
                {% endif %}


            </form>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div style="height: 70px;">&nbsp;</div>