
{% extends "base.html" %}

{% load static %}

{#{% block title %}Parade Web{% endblock title %}#}
{% block header %}
{% include 'base/header.html' %}
{% endblock %}
{% block content %}

    <p style="padding-top: 50px"></p>
<div class="sign-up">
<form action="{% url 'login' %} " method="post">
     {% csrf_token %}
  <h1>Sign In</h1>
    <h4 style="color: darkgreen;">{{ message }}</h4>
    <h4 style="color: red;">

         {% for error in error_message %}
            {{ error }}<br>
        {% endfor %}


    </h4>
  <fieldset>
    <label for="mail">Email:</label>
    <input type="email" id="name" name="email">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
  </fieldset>
  <button type="submit" class="btn">Sign In</button>
</form>
</div>



{% endblock content %}
