
{% extends "base.html" %}

{% load static %}

{#{% block title %}Parade Web{% endblock title %}#}
{% block header %}
{% include 'base/header.html' %}
{% endblock %}
{% block content %}

    <style>
    #blah{
        vertical-align: middle;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    }


    </style>


    <p style="padding-top: 50px"></p>

<div class="sign-up">

<form action="" method="post">
    {% csrf_token %}
  <h1>Sign Up</h1>
    <h4 style="color: red;">
        {% for error in error_message %}
            {{ error }}<br>
        {% endfor %}

    </h4>
  <fieldset>
    <legend><span class="user-icon" style="line-height: 70px"><i id="usericon" class="far fa-user" style="">  </i>
        <img style="display: None" id="blah" src="">
    </span>your icon</legend>
       <input id="imgInp" required type="file" />
      <input type="hidden" id="hidden_img" name="base64_user_img">
    <label for="name">Name:</label>
    <input type="text" id="name" name="user_name">
    <label for="mail">Email:</label>
    <input   type="email" id="mail" name="user_email">
    <label for="password">Password:</label>
    <input   type="password" id="password" name="user_password" required>
    <label for="password">Password confirmation:</label>
    <input type="password" id="password" name="user_password" required>
  </fieldset>
  <button type="submit" class="btn">Sign Up</button>
</form>
</div>





<script type="text/javascript">
 var temp_img;
function readURL(input) {

  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function(e) {
      $('#blah').attr('src', e.target.result);
      temp_img=e.target.result;
      $('#blah').show()
      $('#usericon').hide()

        console.log(temp_img)
      $('#hidden_img').val(temp_img)


    }

    reader.readAsDataURL(input.files[0]);

  }
}

$("#imgInp").change(function() {
  readURL(this);
});
</script>



{% endblock content %}
